:root {
  --mouseX: 0;
  --mouseY: 0;

  --accent1: rgba(255, 0, 0, 0.8);
  --accent2: rgba(0, 255, 0, 0.8);
  --accent3: rgba(0, 0, 255, 0.8);
  --accent4: rgba(255, 251, 0, 0.8);
  --accent5: rgba(255, 111, 0, 0.8);
  --light: rgba(255, 0, 0, 0);

  --lava-stop: 70;
  --lava-angle: 360;
}

@function safe-angle($multiplier: 1, $min: 0) {
  $angle: var(--lava-angle);
  @return calc(max($angle, $min) * $multiplier * 1deg);
}

@function safe-percent($multiplier: 1, $min: 0) {
  $angle: var(--lava-angle);
  @return calc(max($angle, $min) * $multiplier * 1%);
}

@function stop-percent($val: var(--lava-stop)) {
  @return calc($val * 1%);
}

body {
  background: radial-gradient(
    at #{var(--mouseX)} #{var(--mouseY)},
    var(--accent1) 10px,
    var(--accent4) 30%,
    var(--accent3) 50%
  );
}

body[theme='linear'] {
  background: linear-gradient(
      safe-angle(0.25, 80) in oklab,
      var(--accent1),
      var(--light)
    ),
    linear-gradient(
      safe-angle(-0.5, 80) in oklab,
      var(--accent2),
      var(--light) clamp(25%, stop-percent(), 50%)
    ),
    linear-gradient(
      safe-angle(0.75, 80) in oklab,
      var(--accent3),
      var(--light) clamp(55%, stop-percent(), 75%)
    ),
    linear-gradient(safe-angle(-1, 80) in oklab, var(--accent4), var(--light));
}

body[theme='radial'] {
  background: radial-gradient(
      circle at safe-percent(0.25),
      var(--accent1),
      var(--light)
    ),
    radial-gradient(
      circle at safe-percent(-0.5),
      var(--accent2),
      var(--light) clamp(25%, stop-percent(), 50%)
    ),
    radial-gradient(
      circle at safe-percent(0.75),
      var(--accent3),
      var(--light) clamp(55%, stop-percent(), 75%)
    ),
    radial-gradient(circle at safe-percent(-1), var(--accent4), var(--light));
}

body[theme='conic'] {
  background: conic-gradient(
    from safe-angle(1.5) at var(--mouseX) var(--mouseY),
    var(--accent1),
    var(--accent3),
    var(--accent2),
    var(--accent4),
    var(--accent5),
    var(--accent1)
  );
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
